<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-2">
  <div class="container-md bg-primary">
    <div class="row p-3 w-100">
      <div class="col-2">
         <%=link_to '<', groups_path, class: "navbar-brand text-white" %>
      </div>
       <div class="col-8 text-center">
          <span class="navbar-brand text-white">TRANSACTIONS</span>
       </div>
        <div class="col-2"><span class="navbar-brand pe-2 text-white"> </span></div>
    </div>
  </div>
</nav>



<div class="container bg-white p-3">
    <div class="row">
        <div class="col-6"> <span class="text-muted"><%= @group.name%></span> </div>
        <div class="col-6 text-end"> 
            <span class="fw-bolder">€<%=@sum%></span>
        </div>
    </div>
</div>
<div>
  <%= render partial: 'entities', locals: {entities: @entities, icon: @group.icon }%>
<div class="ps-3 mt-3">
    <%=link_to "add a new transaction", 
    new_entity_path(group_id: @group.id),
    class: 'btn btn-danger btn-lg'
    %>
</div>
</div>
